<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ant.p2p.mapper.loan.IncomeRecordMapper">
  <resultMap id="BaseResultMap" type="com.ant.p2p.model.loan.IncomeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="loanId" jdbcType="INTEGER" property="loanid" />
    <result column="bidId" jdbcType="INTEGER" property="bidid" />
    <result column="bidMoney" jdbcType="DOUBLE" property="bidmoney" />
    <result column="incomeDate" jdbcType="DATE" property="incomedate" />
    <result column="incomeMoney" jdbcType="DOUBLE" property="incomemoney" />
    <result column="incomeStatus" jdbcType="INTEGER" property="incomestatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, loanId, bidId, bidMoney, incomeDate, incomeMoney, incomeStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_income_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_income_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ant.p2p.model.loan.IncomeRecord">
    insert into b_income_record (id, uid, loanId, 
      bidId, bidMoney, incomeDate, 
      incomeMoney, incomeStatus)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{loanid,jdbcType=INTEGER}, 
      #{bidid,jdbcType=INTEGER}, #{bidmoney,jdbcType=DOUBLE}, #{incomedate,jdbcType=DATE}, 
      #{incomemoney,jdbcType=DOUBLE}, #{incomestatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ant.p2p.model.loan.IncomeRecord">
    insert into b_income_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="loanid != null">
        loanId,
      </if>
      <if test="bidid != null">
        bidId,
      </if>
      <if test="bidmoney != null">
        bidMoney,
      </if>
      <if test="incomedate != null">
        incomeDate,
      </if>
      <if test="incomemoney != null">
        incomeMoney,
      </if>
      <if test="incomestatus != null">
        incomeStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="loanid != null">
        #{loanid,jdbcType=INTEGER},
      </if>
      <if test="bidid != null">
        #{bidid,jdbcType=INTEGER},
      </if>
      <if test="bidmoney != null">
        #{bidmoney,jdbcType=DOUBLE},
      </if>
      <if test="incomedate != null">
        #{incomedate,jdbcType=DATE},
      </if>
      <if test="incomemoney != null">
        #{incomemoney,jdbcType=DOUBLE},
      </if>
      <if test="incomestatus != null">
        #{incomestatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ant.p2p.model.loan.IncomeRecord">
    update b_income_record
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="loanid != null">
        loanId = #{loanid,jdbcType=INTEGER},
      </if>
      <if test="bidid != null">
        bidId = #{bidid,jdbcType=INTEGER},
      </if>
      <if test="bidmoney != null">
        bidMoney = #{bidmoney,jdbcType=DOUBLE},
      </if>
      <if test="incomedate != null">
        incomeDate = #{incomedate,jdbcType=DATE},
      </if>
      <if test="incomemoney != null">
        incomeMoney = #{incomemoney,jdbcType=DOUBLE},
      </if>
      <if test="incomestatus != null">
        incomeStatus = #{incomestatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ant.p2p.model.loan.IncomeRecord">
    update b_income_record
    set uid = #{uid,jdbcType=INTEGER},
      loanId = #{loanid,jdbcType=INTEGER},
      bidId = #{bidid,jdbcType=INTEGER},
      bidMoney = #{bidmoney,jdbcType=DOUBLE},
      incomeDate = #{incomedate,jdbcType=DATE},
      incomeMoney = #{incomemoney,jdbcType=DOUBLE},
      incomeStatus = #{incomestatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>